<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ICalculatorService" />
            </basicHttpBinding>
            <wsDualHttpBinding>
                <binding name="WSDualHttpBinding_IRandomNumberGenerator1" />
            </wsDualHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/CalculatorService.svc/randomNumber"
                binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_IRandomNumberGenerator1"
                contract="RandomNumberClient.IRandomNumberGenerator" name="WSDualHttpBinding_IRandomNumberGenerator1">
                <identity>
                    <userPrincipalName value="DORHEINE\RichlinT" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:8080/CalculatorService.svc/calculator"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICalculatorService"
                contract="RandomNumberClient.ICalculatorService" name="BasicHttpBinding_ICalculatorService" />
        </client>
    </system.serviceModel>
</configuration>