@page
@model Lab.WCFIsDead.ASPNETCore.Web.RandomNumbersModel
@{
    ViewData["Title"] = "RandomNumbers";
}

<h1>RandomNumbers</h1>

<div id="app"></div>

<script type="text/javascript" src="~/client/randomNumbers.js" ></script>