@page
@model Lab.WCFIsDead.ASPNETCore.Web.Pages.SomethingElseModel
@{
    ViewData["Title"] = "SomethingElse";
}

<h1>SomethingElse</h1>

<div id="app"></div>

<script type="text/javascript" src="~/client/somethingElse.js"></script>